.modal-window-container
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4)

.modal-container
  position: fixed
  top: 50%
  left: 50%
  height: 500px
  width: 500px
  background-color: white
  margin-top: -250px
  margin-left: -250px

.modal-close-button-container
  float: right

.modal-close-button
  margin: 10px
  background-color: #273a48
  color: #a8a8a8

.modal-close-button:hover
  background-color: #152933
  color: #32c9dc