.message-history-item-container
  padding: 5px 10px
  border-bottom: 1px solid #f1f1f1
  background-color: white

.message-history-item-container:hover
  background-color:  #f1f1f1

.message-history-item-container-active
  border-bottom: 1px solid #00BCD4
  border-left: 4px solid #00BCD4

.message-history-item-container-active:hover
  background-color: white

.message-history-item-header
  font-size: 16px
  margin: 3px

.message-history-item-text
  font-size: 13px
  padding: 0 10px 0 5px
  margin: 0
  color: #273a48