.navbar-container 
  display: flex
  flex-direction: row
  width: 100%
  height: 60px
  background-color: #273a48

.logo-container
  lex-grow: 1
  display: flex
  justify-content: flex-start
  align-items: center

.nav-logo
  margin-left: 10px
  padding: 5px
  height: 40px
  width: 60px

.navbar-actions-container
  margin: 0 20px;
  flex-grow: 1
  display: flex
  justify-content: flex-end

.navbar-actions-nav-container
  display: flex
  flex-direction: row

.nav-link
  height: 100%
  width: 100px
  background-color: #273a48
  font-size: 14px
  color: #a8a8a8
  display: flex
  justify-content: center
  align-items: center

.nav-link:hover
  background-color: #152933
  color: #32c9dc

.nav-link-active
  background-color: #152933
  color: #32c9dc

.nav-link-logout
  margin-right: 3px

.nav-button-container
  height: 100%
  margin: 0
  display: flex
  align-items: center

.nav-button
  padding: 5px
  height: 100%
  width: 100%
  background-color: #273a48
  font-size: 14px
  color: #a8a8a8

.nav-button:hover
  background-color: #152933
  color: #32c9dc

.nav-button-active
  background-color: #152933
  color: #32c9dc
