.button-container 
  display: flex
  justify-content: center
  align-items: center
  height: 20px
  margin: 10px 0

.button
  border: none
  outline: none

.button-primary
  padding: 5px 12px
  font-size: 14px
  background-color:  #00BCD4
  color: white

.button-primary-active
  background-color: #0097A7

.button-primary:hover:enabled
  background-color: #0097A7

.button-disabled
  opacity: 0.5

.button-signup-step-option
  background-color: #8BC34A
  color: white
  height: 30px

.button-signup-step-option:hover
  background-color: #689F38

.button-signup-step-option-active
  background-color: #689F38