.search-bar-container
  display: flex
  flex-direction: column
  justify-content: center

.search-bar-category-header
  margin: 5px 0
  font-weight: bold
  width: 100%

.filter-main-actions-container
  border-bottom: 1px solid #a8a8a8
  padding: 5px

.filter-main-sub-container
  padding: 10px 0

.button-searchbar-action-container
  width: 100%
  padding: 5px 0

.button-searchbar-action
  width: 100%
  margin: 0
  height: 30px
  font-size: 14px
  background-color: #213c4b
  color: #a8a8a8

.button-searchbar-action:hover
  background-color: #152933
  color: white

.button-searchbar-action-active
  background-color: #152933
  color: white

.search-container
  padding: 5px
  display: flex
  flex-direction: column
  border-bottom: 1px solid #a8a8a8

.search-sub-container
  padding: 10px 0

.search-bar-input-field
  margin: 5px 0
  padding-bottom: 5px

.search-error-message
  color: red
  font-size: 13px
  margin: 0

.filter-container
  margin: 0
  padding: 5px
  border-bottom: 1px solid #a8a8a8

.checkboxes-container
  padding: 10px 0

.search-bar-checkbox-container
  margin: 5px 0
  padding: 0 5px

.search-bar-checkbox-container-tech
  border-left: 4px solid #fc6e51

.search-bar-checkbox-container-healthcare
  border-left: 4px solid #ffce54

.search-bar-checkbox-container-climate
  border-left: 4px solid #a0d468

.search-bar-checkbox-container-globalchange
  border-left: 4px solid #ac92ec

.search-bar-checkbox-container-inclusion
  border-left: 4px solid #4fc1e9