.search-bar-container
  display: flex
  flex-direction: column
  justify-content: center

.search-bar-category-header
  margin: 5px 0
  font-weight: bold

.filter-main-actions-container
  border-bottom: 1px solid #a8a8a8
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.button-searchbar-action-container
  width: 90%
  padding: 5px 0

.button-searchbar-action
  width: 100%
  margin: 0
  height: 30px
  font-size: 14px

.button-searchbar-action:hover
  color: white

.button-searchbar-action-active
  color: white

.search-container
  padding: 5px
  display: flex
  flex-direction: column
  border-bottom: 1px solid #a8a8a8

.search-error-message
  color: red
  font-size: 13px
  margin: 0

.filter-container
  margin: 0
  padding: 5px
  border-bottom: 1px solid #a8a8a8

.checkboxes-container
  padding: 10px 0