.messaging-thread-header-container
  margin: 0
  padding: 0
  border-bottom: 1px solid #a8a8a8

.messaging-thread-header
  font-size: 18px
  margin: 20px

.messages-container
  margin: 15px 0

.messaging-thread-new-message-container
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  border-top: 1px solid #a8a8a8

.messaging-thread-new-message-input-field-container
  flex-grow: 9
  margin: 10px

.messaging-thread-new-message-input-field
  width: 100%

.messaging-thread-new-message-button-container
  flex-grow: 1