.matches-view-header
  font-size: 24px
  text-align: center

.matches-container
  padding: 20px 0
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

.match-industry-text-container
  text-align: center
  margin: 10px 0
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center

.match-result-number
  padding: 5px
  margin: 5px

.match-industry-tags-container
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.match-industry-tags
  margin: 5px
  padding: 3px 8px
  border-radius: 15px
  font-size: 14px
  color: white

.match-industry-tags-tech
  border: 1px solid #fc6e51
  color: #fc6e51

.match-industry-tags-healthcare
  border: 1px solid #ffce54
  color: #ffce54

.match-industry-tags-climate
  border: 1px solid #a0d468
  color: #a0d468

.match-industry-tags-globalchange
  border: 1px solid #ac92ec
  color: #ac92ec

.match-industry-tags-inclusion
  border: 1px solid #4fc1e9
  color: #4fc1e9
