.try-demo-container
  margin: 50px
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #273a48
  color: white

.try-demo-header
  text-align: center
  font-size: 24px
  width: 300px

.try-demo-text
  text-align: center
  font-size: 12px

.try-demo-button
  padding: 5px 12px
  font-size: 14px
  background-color: #00BCD4
  color: white

.try-demo-button:hover
  background-color: white
  color: #00BCD4