.message-modal-title
  margin: 40px 0 20px 0

.message-modal-form
  display: flex
  flex-direction: column
  align-items: center
  
.message-modal-input-field-container
  width: 80%

.message-modal-input-field
  width: 100%

.message-modal-text-area-container
  width: 80%

.message-modal-text-area
  width: 100%

.message-error-message
  width: 80%
  color: red
  font-size: 13px
  margin: 0
  text-align: left