.message-container
  display: flex
  flex-direction: column
  margin: 0 20px

.message-sender
  font-size: 14px
  color: #273a48

.message-sender-from
  float: right

.message-sender-to
  float: left

.message
  font-size: 14px
  color: #a8a8a8
  margin: 0 10px

.message-from
  float: right

.message-to
  float: left
