.message-container
  display: flex
  flex-direction: column
  margin: 3px 20px

.message-time-from
  align-self: flex-end
  font-size: 10px
  margin: 5px 20px

.message-time-to
  align-self: flex-start
  font-size: 10px
  margin: 5px 20px

.message
  font-size: 14px
  color: #273a48
  margin: 0 10px
  border-radius: 10px
  padding: 10px 10px
  width: 70%

.message-from
  align-self: flex-end
  background-color: #e1e9ee

.message-to
  align-self: flex-start
  background-color: white
  border: 2px solid #e1e9ee
