.donor-view-container
  display: flex
  flex-direction: row

.matches-view-container
  flex-grow: 5
  padding: 20px
  background-color: white
  height: 88vh
  overflow-y: auto

.search-bar-view-container
  flex-grow: 1
  padding: 20px 10px
  background-color: #f1f1f1
  border-left: 2px solid #a8a8a8

@media screen and (max-width: 940px)
  .donor-view-container 
    flex-wrap: wrap

  .matches-view-container
    order: 2

  .search-bar-view-container
    padding-top: 0
    padding-bottom: 0
    order: 1
    border-bottom: 2px solid #a8a8a8
    border-left: none
