.signup-container
  display: flex
  flex-direction: column
  align-items: center
  margin: 50px
  padding: 20px
  background-color: #273a48
  color: white

.signup-header
  text-align: center
  font-size: 24px
  width: 300px

.signup-inputfields-container
  padding: 10px
  display: flex
  justify-content: center
  flex-wrap: wrap
  width: 350px

@media screen and (max-width: 400px) 
  .signup-inputfields-container
    flex-direction: column
    width: 300px

.signup-input-field-container
  margin: 0 10px

.signup-error-message
  color: red
  font-size: 12px
  margin: 0
  text-align: left
  height: 12px

.signup-form-button
  padding: 5px 12px
  font-size: 14px
  background-color: #00BCD4
  color: white

.signup-form-button:hover
  background-color: white
  color: #00BCD4