.landing-page-container
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-around
  align-items: center
  height: 93vh
  background-image: url(http://localhost:3000/assets/background-landing-page.jpg)
  background-position: center center
  background-size: cover
  background-repeat: none