.match-container
  border: 2px solid #a8a8a8
  margin: 20px
  width: 300px
  height: 300px
  text-align: center
  background-color: #f1f1f1

.industry-name-bullets-container
  display: flex
  flex-direction: row
  padding: 0 10px

.industry-name-bullet
  margin: 8px
  padding: 0
  width: 40px
  height: 6px

.industry-name-bullet-tech
  background-color: #fc6e51

.industry-name-bullet-healthcare
  background-color: #ffce54

.industry-name-bullet-climate
  background-color: #a0d468

.industry-name-bullet-globalchange
  background-color: #ac92ec

.industry-name-bullet-inclusion
  background-color: #4fc1e9

.match-name
  margin: 5px 20px 8px 20px
  padding: 0
  height: 40px
  line-height: 20px
  overflow-y: hidden

.match-separator
  margin: 0 20px
  border: 0
  height: 1px
  background-color: #a8a8a8

.match-description
  padding: 0 20px
  height: 133px
  line-height: 19px
  overflow-y: hidden
  text-align: left
  font-weight: 300

.match-action-container
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  height: 50px

