.login-form-container
  display: flex
  flex-direction: row
  height: 100%

.login-form-field-container
  display:flex
  flex-direction: column

.login-form-input-field
  margin: 8px 5px 3px 0

.login-error-message
  color: red
  font-size: 13px
  margin: 0 5px

