.profile-container
  width: 400px
  margin: 80px auto
  padding: 20px
  background-color: #273a48
  color: white

.profile-information-header
  font-size: 24px
  text-align: center

.profile-information-container
  width: 200px
  margin: 40px auto

.profile-edit-button
  padding: 5px 12px
  font-size: 14px
  background-color: #00BCD4
  color: white

.profile-edit-button:hover
  background-color: white
  color: #00BCD4